
<!DOCTYPE html>
<html>

    <head>
        <style>
            table, th, td {
                border: 2px solid black;
                text-align: center
            }

            thead {
                background-color: dodgerblue;
                color: white;
                text-align: center
            }
            #Navbar h2 {
                display: inline-block;
                text-align: center;
                color: dodgerblue;
                text-decoration: underline;
            }

            
           
        </style>


    </head>

<body>
    <script>
    var MyAppUrlSettings = {
        MyUsefulUrl: '@Url.Action("GetData", "ProductOrder")'
    }

    var Edit_PO_URL = {
        MyEdit_PO_URL: '@Url.Action("EditProduct", "ProductOrder")'
        }
        var POhead_URL = {
            MyPOheadURL:'@Url.Action("GetPOheadData", "ProductOrder")'
        }
        
    </script>

    <div id="Navbar">
        <h2>Purchase order <span data-bind="text: getSeletedPO ().Order_No"></span></h2>
    </div>
    <h1></h1>
    <div class="container" style="border:1px solid #cecece;">
        <div class="row">
            <h1></h1>
            <div class="col-sm-4">
                <p>Supplier:<span style="margin-left: 50px;"><input type="text" data-bind="value:getSeletedPO() .Supplier ,enable:false " /></span> </p>
                <h1></h1>
                <p>Stock Site:<span style="margin-left: 38px;"><input type="text" data-bind="value:getSeletedPO() .Stock_Site ,enable:false " /></span> </p>
                <h1></h1>
                <p>Order Date:<span style="margin-left: 30px;"><input type="text" data-bind="value: getSeletedPO() .Order_Date ,enable:false " /></span> </p>
                <h1></h1>
                <p>Note: <span style="margin-left: 30px;"><textarea data-bind="textInput: getSeletedPO() .Note " rows="4" cols="50"> </textarea> </span>
            </div>

            <div class="col-sm-2"></div>
           
            <div class="col-sm-4">
                <p>Supplier name:<span style="margin-left: 22px;"><input type="text" data-bind="value: getSeletedPO() .Supplier_name ,enable:false " /></span> </p>
                <h1></h1>
                <p>Stock Name:<span  style="margin-left: 38px;"><input type="text" data-bind="value: getSeletedPO() .Stock_Name  " /></span> </p>
                <h1></h1>
                <p>Address<span style="color: red";>*: </span> <textarea  data-bind="tvalue: getSeletedPO() .Address  " rows="4" cols="50"> </textarea>
                <h1></h1>
                <p>Country<span style="color: red">*: </span> <span  style="margin-left: 48px;"><input type="text" data-bind="value: getSeletedPO() .Country  " /></span> </p>
                <h1></h1>
                <p>Postcode<span style="color: red">*: </span> <span  style="margin-left: 38px;"><input type="text" data-bind="value: getSeletedPO() .Post_Code  " /></span> </p>
            </div>
        </div>
        <h1></h1>
        
    </div>
    

    <h1></h1>

    <div>
        <table style="width:100%">
            <thead><tr><th>Part_Number</th><th>Part_Des</th><th>Manufacturer</th><th>Qty_Order</th><th>Order_Date</th><th>Memo</th><th>Total Price ($)</th><th></th></tr></thead>
            <tbody data-bind="foreach: PO_Lines">
                <tr>
                    <td data-bind="text: Part_Number"></td>
                    <td data-bind="text: Part_Des"></td>
                    <td data-bind="text: Manufacturer"></td>
                    <td data-bind="text: Qty_Order"></td>
                    <td data-bind="text: Order_Date"></td>
                    <td data-bind="text: Memo"></td>
                    <td data-bind="text: Buy_Price "></td>
                    <td><a href="#" data-bind="click: $root.RemovePOline">Remove</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p id="demo"></p>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/knockout.min.js"></script>
    <script src="~/Scripts/POlist.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



    <div>
        @Html.ActionLink("Back to PO list", "ProductOrder")
    </div>
</body>
</html>