@{
    ViewBag.Title = "Products Order' List";
}



<script>
    var MyAppUrlSettings = {
        MyUsefulUrl: '@Url.Action("GetAllProducts", "ProductOrder")'
    }


</script>


<!DOCTYPE html>
<html>
<body>


    <div>

        <table>
            <thead><tr><th>Order_No</th><th>Supplier</th><th>Stock_Site</th><th>Stock_Name</th><th>Order_Date</th><th>Last_Update</th></tr></thead>
            <tbody data-bind="foreach: Products">
                <tr>
                    <td data-bind="text: Order_No"></td>
                    <td data-bind="text: Supplier"></td>
                    <td data-bind="text: Stock_Site"></td>
                    <td data-bind="text: Stock_Name"></td>
                    <td data-bind="text: Order_Date"></td>
                    <td data-bind="text: Last_Update"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <p id="demo"></p>


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/knockout.min.js"></script>
    <script src="~/Scripts/POlist.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>