@{
    ViewBag.Title = "Products Order' List";
}



<script>
    var MyAppUrlSettings = {
        MyUsefulUrl: '@Url.Action("GetData", "ProductOrder")'
    }

    var Edit_PO_URL = {
        MyEdit_PO_URL: '@Url.Action("EditProduct", "ProductOrder")'
    }

     var POhead_URL = {
            MyPOheadURL:'@Url.Action("GetPOheadData", "ProductOrder")'
        }
</script>


<!DOCTYPE html>
<html >
<head>
    <style>
        table, th, td {
            border: 2px solid black;
            text-align: center
        }

        thead {
            background-color: dodgerblue;
            color: white;
            text-align: center
        }
    </style>
</head>
<body>

    <h1>PRODUCTS ORDERS LIST</h1>

    <div>

        <table style="width:100%">
            <thead><tr><th>Order No</th><th>Supplier</th><th>Stock Site</th><th>Stock Name</th><th>Order Date</th><th>Last Update</th><th>Send Email</th></tr></thead>
            <tbody data-bind="foreach: Products">
                <tr>
                    <td data-bind="text: Order_No, click: $root.select"></td>
                    <td data-bind="text: Supplier"></td>
                    <td data-bind="text: Stock_Site"></td>
                    <td data-bind="text: Stock_Name"></td>
                    <td data-bind="text: Order_Date"></td>
                    <td data-bind="text: Last_Update"></td>
                    <td><input type="checkbox" /></td>
                </tr>
            </tbody>
        </table>
    </div>


    <p id="demo"></p>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/knockout.min.js"></script>
    <script src="~/Scripts/POlist.js"></script>


</body>
</html>