@{
    ViewBag.Title = "Products Order' List";
}



<script>
    var MyAppUrlSettings = {
        MyUsefulUrl: '@Url.Action("GetData", "ProductOrder")'
    }


</script>


<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 2px solid black;
            text-align: center
        }

        thead {
            background-color: dodgerblue;
            color: white;
            text-align: center
        }
    </style>
</head>
<body>

    <h1>PRODUCTS ORDERS LIST</h1>

    <div>

        <table style="width:100%">
            <thead><tr><th>Order_No</th><th>Supplier</th><th>Stock_Site</th><th>Stock_Name</th><th>Order_Date</th><th>Last_Update</th><th>Send Email</th></tr></thead>
            <tbody data-bind="foreach: Products">
                <tr>
                    <td data-bind="text: Order_No"></td>
                    <td data-bind="text: Supplier"></td>
                    <td data-bind="text: Stock_Site"></td>
                    <td data-bind="text: Stock_Name"></td>
                    <td data-bind="text: '20/09/2000 12:00:00'"></td>
                    <td data-bind="text: '20/09/2000 12:00:00'"></td>
                    <td><input type="checkbox"/></td>
                </tr>
            </tbody>
        </table>
    </div>

    <p id="demo"></p>


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/knockout.min.js"></script>
    <script src="~/Scripts/POlist.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>