@{
    ViewBag.Title = "Products Order' List";
}



<script>
    var MyAppUrlSettings = {
        MyUsefulUrl: '@Url.Action("GetData", "ProductOrder")'
    }

    var Edit_PO_URL = {
        MyEdit_PO_URL: '@Url.Action("EditProduct", "ProductOrder")'
    }
</script>


<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 2px solid black;
            text-align: center
        }

        thead {
            background-color: dodgerblue;
            color: white;
            text-align: center
        }
    </style>
</head>
<body>

    <h1>PRODUCTS ORDERS LIST</h1>

    <div>

        <table style="width:100%">
            <thead><tr><th>Order No</th><th>Supplier</th><th>Stock Site</th><th>Stock Name</th><th>Order Date</th><th>Last Update</th><th>Send Email</th></tr></thead>
            <tbody data-bind="foreach: Products">
                <tr>
                    <td data-bind="text: Order_No, click: $root.select"></td>
                    <td data-bind="text: Supplier"></td>
                    <td data-bind="text: Stock_Site"></td>
                    <td data-bind="text: Stock_Name"></td>
                    <td data-bind="text: Order_Date"></td>
                    <td data-bind="text: Last_Update"></td>
                    <td><input type="checkbox" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    @*<h2>Purchase order <span data-bind="text: $root.selected ().Order_No"></span></h2>
    <p>Supplier: <span><input type="text" data-bind="value: $root.selected() .Supplier ,enable:false " /></span> </p>
    <p>Stock Site: <span><input type="text" data-bind="value: $root.selected() .Stock_Site ,enable:false " /></span> </p>
    <p>Order Date: <span><input type="text" data-bind="value: $root.selected() .Order_Date ,enable:false " /></span> </p>
    <p>Note: <input type="text" data-bind="textInput: $root.selected() .Note  " /></p>
    <p>Supplier name: <span><input type="text" data-bind="value: $root.selected() .Supplier_name ,enable:false " /></span> </p>
    <p>Stock Name: <span><input type="text" data-bind="value: $root.selected() .Stock_Name  " /></span> </p>
    <p>Address<span style="color: red">*: </span>  <span><input type="text" data-bind="value: $root.selected() .Address  " /></span> </p>
    <p>Country<span style="color: red">*: </span> <span><input type="text" data-bind="value: $root.selected() .Country  " /></span> </p>
    <p>Postcode<span style="color: red">*: </span> <span><input type="text" data-bind="value: $root.selected() .Post_Code  " /></span> </p>
    <button data-bind="click: $root.EditPO">Save</button> <span><button data-bind="click: ReloadPage">Cancel</button></span>*@
    <p id="demo"></p>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/knockout.min.js"></script>
    <script src="~/Scripts/POlist.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>
</html>